@charset "utf-8";

/* id  = '#' , class = '.' */

    body{margin:0; padding:0;width:100%;}
    a {text-decoration:none; color:inherit; position: inherit;}
    header{height:100px; top:0; z-index: 100; width:100%; position:fixed; }
    
    /*스크롤시 변경되는 header 스타일*/
    .active{background:rgba(0,0,0, 0.6 ); /*스크롤 후*/
    transition-duration: 0.5s; transition-timing-function: ease;    
    -webkit-transition-duration:0.3s;-webkit-transition-timing-function:ease;}
    .deactive{background: #000; /*스크롤 전*/
    transition-duration: 0.5s; transition-timing-function: ease;    
    -webkit-transition-duration:0.3s; -webkit-transition-timing-function:ease;}
    
    .navbar {display: flex; justify-content: space-between; height:100px; padding:0;  width:100%; position:absolute;}
    #title{font-size:24px; font-weight:500; color:#fff;  margin:5px 115px 0 120px;}  
    #title h4{margin:32px 0;}      
    
    .navbar_menu {display: flex; list-style: none; padding-left: 0; margin:0; width:100%; }        
    .navbar_menu li {padding: 8px 12px;}
    
    /*메뉴바 상단 로그인 메뉴*/
    .navbar_links {list-style: none; padding-left: 0; width:250px; float:right; position:relative; margin:16px 0;}
    .navbar_links li{display: inline-block; position:relative;}
    .navbar_links li a{color: #fff;  padding:0 9px; display: inline-block;} 
    .navbar_links li::after{content:"|"; font-size:10px;display:inline-block; width:2px; height:19px; color:#888; font-size:10px; vertical-align:middle;} 
    .navbar_links li:last-child::after{display:none;}

    .navbar_toggleBtn {display: none; position: absolute; right: 32px; font-size: 24px;}

    .navbar_menu>ul{display:inline-block;  margin:0; padding:0; width:1200px;}
    .navbar_menu>ul>li>a{text-align: left;}
    .navbar_menu>ul>li{text-align:left;}
    .navbar_menu li{width:100px;font-size:20px; float:left; padding:37px 30px 37px; margin:0 60px 0; display:block;}
    .navbar_menu li:nth-child(3) .sub ul li{margin-left: -3px;} 
    .navbar_menu a{font-weight:bold; color:#fff; width:70px; padding:15px;}
    .navbar_menu a::after{content:'';  background:#000; height:2px; width:0; transition:all .2s ease-in-out;}

    header:hover{ background:#fff; height:260px;  transition: 0.2s ease-in-out;  color:#000; border-bottom: 1px solid #666;} 
    header:hover main{position:absolute; bottom:260px;}
    header:hover .navbar{padding:0; margin:0;}
    header:hover .navbar__menu{padding:0; margin:0;} 
    header:hover .navbar__menu>li>a{text-align: center;} 
    header:hover a{color:#000;} 
    header:hover #lnb>ul>li::after{color:#000;}
    header:hover .sub{display:block; transition:inherit; }   
      
    header a:hover{color:#666; }
    header a:hover::after{width:inherit; }
    header .sub{display:none; width:inherit;}

    .navbar .sub li{float:none; margin:0; padding:0; padding-top: 20px; height:20px; width:inherit;  }
    .navbar .sub ul{padding:0; margin-left:20px; display: inline-block; width:inherit;}
    .navbar .sub a{font-size:15px; padding:0; white-space:nowrap; }
    .navbar .sub a::after{display:none;}
    .navbar .sub a:hover{text-decoration:underline;}
    
    
    
    /*main*/
    
    div{
  display: block;
  list-style: none;
}


ol{
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  outline: 0;
}

table{
  width: 79%;
  border-spacing: 0;
  border-collapse: collapse;
}

caption{
  display: none;
}

colgroup{
  display: table-column-group;
}

tbody{
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
  border-spacing: 0;
  border-collapse: collapse;
}

tr{
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

th{
  list-style: none;
  margin: 0;
  vertical-align: top;
}




#contents{
  position: relative;
  margin: 20px auto;
  margin-top: 250px;
}




.path{
  display: block;
  overflow: hidden;
  margin: 0 0 10px;
  margin-right: 14%;
}

.path span{
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  white-space: nowrap;
  text-indent: 100%;
}

.path ol{
  float: right;
}

.path li:first-child{
  margin: 0;
  padding: 0;
  background: none;
}

.path li{
  float: left;
  height: 27px;
  line-height: 25px;
  padding:  0 0 0 12px;
  margin:  0 0 0 8px;
  color: #333;
  background: url("../Symbol/icon_path.gif")no-repeat 0 8px;
}

.path li:first-child a{
  padding: 0 6px 0 8px;
  background: url("../Symbol/icon_path_home.png") no-repeat 0 6px;
  font-size: 0;
}

.path li a{
  display: block;
  line-height: 27px;
  color: #333 !important;
}


.titleArea {
  min-height: 30px;
  margin: 10px 0 20px;
  margin-left: 7%;
  margin-right: 4%;
}

.titleArea h2{
  display: inline-block;
  padding: 0 0 0 12px;
  color: #e2e2e2;
  font-size: 16px;
  background: url("../Symbol/icon_heading.gif") 0 50% no-repeat;
}

.titleArea p{
  display: inline-block;
  margin: 0 0 0 6px;
  padding: 0 0 0 10px;
  color: #999;
  background: url("../Symbol/icon_bar.gif") no-repeat 0 0;
}

.ec-base-table table{
  position: relative;
  margin: 10px 0 0;
  border: 1px solid #d7d5d5;
  margin-left: 7%;
  border-right: 0;
  border-left: 0;
  border-top-color: #fff;
  line-height: 1.5;
}

.ec-base-table table:before{
  position:absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background: #d7d5d5;
}

.ec-base-table th:first-child{
  border-left: 0;
}

.ec-base-table tbody th {
  padding: 20px 0 20px 50px;
  border: 1px solid #dfdfdf;
  border-bottom-width: 0;
  color: #353535;
  text-align: left;
  font-weight: normal;
  background-color: #fbfafa;
}

.ec-base-table th{
  word-break: break-all;
  word-wrap: break-word;
}

.ec-base-table td{
  padding: 8px 10px 7px;
  border-top: 1px solid #dfdfdf;
  color: #353535;
  vertical-align: middle;
  word-break: break-all;
  word-wrap: break-word;
}
    
/*footer*/
footer {width: 100vw; height: 300px; margin: 0 auto; background: rgb(93, 80, 82);}
footer #container {margin: auto; padding-left: 10vw; padding-top: 6vh;}
footer #footer1, #footer2 {display: inline-block;color: white;line-height: 2em;}
footer h2 {font-size: 25px;font-weight: bold;}
footer #footer1 {padding-right: 10vw;}