@charset "utf-8";

/* id  = '#' , class = '.' */

    body{margin:0; padding:0;width:100%;}
    a {text-decoration:none; color:inherit; position: inherit;}
    header{height:100px; top:0; z-index: 100; width:100%; position:fixed; }
    
    /*스크롤시 변경되는 header 스타일*/
    .active{background:rgba(0,0,0, 0.6 ); /*스크롤 후*/
    transition-duration: 0.5s; transition-timing-function: ease;    
    -webkit-transition-duration:0.3s;-webkit-transition-timing-function:ease;}
    .deactive{background: #000; /*스크롤 전*/
    transition-duration: 0.5s; transition-timing-function: ease;    
    -webkit-transition-duration:0.3s; -webkit-transition-timing-function:ease;}
    
    .navbar {display: flex; justify-content: space-between; height:100px; padding:0;  width:100%; position:absolute;}
    #title{font-size:24px; font-weight:500; color:#fff;  margin:5px 115px 0 120px;}  
    #title h4{margin:32px 0;}      
    
    .navbar_menu {display: flex; list-style: none; padding-left: 0; margin:0; width:100%; }        
    .navbar_menu li {padding: 8px 12px;}
    
    /*메뉴바 상단 로그인 메뉴*/
    .navbar_links {list-style: none; padding-left: 0; width:250px; float:right; position:relative; margin:16px 0;}
    .navbar_links li{display: inline-block; position:relative;}
    .navbar_links li a{color: #fff;  padding:0 9px; display: inline-block;} 
    .navbar_links li::after{content:"|"; font-size:10px;display:inline-block; width:2px; height:19px; color:#888; font-size:10px; vertical-align:middle;} 
    .navbar_links li:last-child::after{display:none;}

    .navbar_toggleBtn {display: none; position: absolute; right: 32px; font-size: 24px;}

    .navbar_menu>ul{display:inline-block;  margin:0; padding:0; width:1200px;}
    .navbar_menu>ul>li>a{text-align: left;}
    .navbar_menu>ul>li{text-align:left;}
    .navbar_menu li{width:100px;font-size:20px; float:left; padding:37px 30px 37px; margin:0 60px 0; display:block;}
    .navbar_menu li:nth-child(3) .sub ul li{margin-left: -3px;} 
    .navbar_menu a{font-weight:bold; color:#fff; width:70px; padding:15px;}
    .navbar_menu a::after{content:'';  background:#000; height:2px; width:0; transition:all .2s ease-in-out;}

    header:hover{ background:#fff; height:260px;  transition: 0.2s ease-in-out;  color:#000; border-bottom: 1px solid #666;} 
    header:hover main{position:absolute; bottom:260px;}
    header:hover .navbar{padding:0; margin:0;}
    header:hover .navbar__menu{padding:0; margin:0;} 
    header:hover .navbar__menu>li>a{text-align: center;} 
    header:hover a{color:#000;} 
    header:hover #lnb>ul>li::after{color:#000;}
    header:hover .sub{display:block; transition:inherit; }   
      
    header a:hover{color:#666; }
    header a:hover::after{width:inherit; }
    header .sub{display:none; width:inherit;}

    .navbar .sub li{float:none; margin:0; padding:0; padding-top: 20px; height:20px; width:inherit;  }
    .navbar .sub ul{padding:0; margin-left:20px; display: inline-block; width:inherit;}
    .navbar .sub a{font-size:15px; padding:0; white-space:nowrap; }
    .navbar .sub a::after{display:none;}
    .navbar .sub a:hover{text-decoration:underline;}
    
    .member_menu{width:110px; height:350px;margin:80px 0 0 180px; position: absolute;}
    .member_menu p{font-weight: bold; padding:5px 0;border-bottom: 1px solid gainsboro; text-align: center; } 
    .member_menu li{font-size:15px; padding-left:13px; margin-top:10px;}
    .member_menu li:nth-child(4), li:nth-child(6){font-size:17px;margin-top:30px;}
    .member_menu li:hover{text-decoration:underline; color:#666;}


/*main*/

main{height: 80vh;}

*{
  font-family: 'Montserrat', 'Nanum Gothic', 'Noto Sans', 'Noto Sans KR', 'Roboto', 'Roboto Mono';
  font-weight: 400;
}


ul{
  display: block;
  list-style: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

div{
  display: block;
  margin: 0;
  padding: 0;
}

strong{
  margin-left: 0;
}

li{
  list-style: none;
}

p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#lnb{
  float: left;
  width: 234px;
}

#lnb > ul{
  padding: 0 0 0 76px;
  margin-top: 315px;
}

#lnb > ul > li{
  font-size: 15px;
  color: #666;
  line-height: 10px;
  font-weight: 400;
}

#contents{
  float: left;
  width:1200px;
  margin-top: 300px;
  margin-left: 150px;
}

#lnb > ul > li:first-child{
  margin: 0;
}

#lnb > ul > li.on > a{
  color: #7a211f;
  border-bottom: 1px solid #a46960;
  padding-bottom: 3px;
  font-weight: 700px;
}

.bar strong{
  font-size: 13px;
}

.contbox .location{
  font-size: 15px;
  color: #666;
  line-height: 8px;
  font-weight: 400;
  height: 21px;
}

.bar{
  display: inline-block;
  width: 30px;
  height: 11px;
  margin-top: -2px;
  vertical-align: middle;
  background: url("../Symbol/icon_bg_location_a.png") center top no-repeat;
}

/*마이페이지*/
.table_list .titlebox{
  display: table;
  width: 100%;
  border-top: 1px solid #7a211f;
}

.table_list .box_cell{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.table_list .titlebox .box_cell{
  color: #666;
  font-size: 14px;
  font-weight: 400;
  padding: 8px 30px;
}

.table_list .box_cell.box_1{
  width: 10%;
}
.box_cell.box_1 input{
	width:20%; !important
}

.table_list .box_cell.box_2 {
  width: 20%;
}

.table_list .box_cell.box_3 {
  width: 20%;
}

.table_list .box_cell.box_4 {
  width: 10%;
}

.table_list .box_cell.box_5 {
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.table_list .box_cell.box_7 {
  width: 15%;
}

.table_list .titlebox .box_cell.txt_left{
  text-align: center;
  padding: 0 5px;
}

.table_list .box_cell.txt_right{
  text-align: center;
  padding: 0 10px;
}


.table_list .titlebox .box_cell.txt_right{
  text-align: center;
  padding: 0 10px;
}


/*list*/
.table_list ul{
  border-top: 1px solid #7a211f;
  border-bottom: 1px solid #7a211f;
}

.table_list ul > li.nolist{
  text-align: center;
  color: #3a1c0e;
  font-size: 12px;
  font-weight: 400;
  padding: 12px 0;
}

.table_list ul > li{
  display: table;
  width: 100%;
}

.table_list .totalbox{
  padding: 23px 34px;
  text-align: right;
  color: #7a211f;
  font-weight: 500;
  font-size: 18px;
  line-height: 14px;
  border-bottom: 1px solid #7a211f;
}

.table_list .titlebox strong{
  font-weight: 500;
  display: inline-block;
  margin: 0 0 0 15px;
}

.table_list .totalbox span.plus{
  display: inline-block;
  vertical-align: middle;
  margin: -4px 12px 0 16px;
  width: 19px;
  height: 19px;
  background: url("../Symbol/icon_plus_b.png") center center no-repeat;
  text-indent: 9999em;
  overflow: hidden;
}

.table_list .totalbox strong{
  font-weight: 500;
  display: inline-block;
  margin: 0 0 0 15px;
}

.naver_paybox{
  text-align: right;
  margin: 10px 0 0 0;
}
/*footer*/
footer{ width: 100vw; height: 300px; margin: 0 auto; background: rgb(93, 80, 82);}
footer #container{ margin: auto; padding-left: 10vw; padding-top: 6vh;} 
footer #footer1, #footer2{display: inline-block; color:white; line-height: 2em;}
footer h2{font-size: 25px; font-weight: bold;}
footer #footer1 {padding-right: 10vw;}