@charset "utf-8";

/* id  = '#' , class = '.' */

    body{margin:0; padding:0;width:100%;  } 
    
    a {text-decoration:none; color:inherit; position: inherit;}
    header{height:100px; top:0; z-index: 100; width:100%; position:fixed; }
    
    .active{background:rgba(0,0,0, 0.6 );     
    transition-duration: 0.5s; transition-timing-function: ease;    
    -webkit-transition-duration:0.4s;-webkit-transition-timing-function:ease;}
    .deactive{background-color: transparent;
    transition-duration: 0.5s; transition-timing-function: ease;    
    -webkit-transition-duration:0.4s; -webkit-transition-timing-function:ease;}
    

    .navbar {display: flex; justify-content: space-between; height:100px; padding:0;  width:100%; position:absolute;}
    #title{ font-size:24px; font-weight:500; color:rgb(0, 0, 0);  margin:5px 115px 0 120px;}  
    #title h4{margin:32px 0;}      
    
    .navbar_menu {display: flex; list-style: none; padding-left: 0; margin:0; width:100%; }        
    .navbar_menu li {padding: 8px 12px;}

    .navbar_links {list-style: none; padding-left: 0; width:250px; float:right; position:relative; margin:16px 0; }
    .navbar_links li{display: inline-block; position:relative;}
    .navbar_links li a{color: rgb(0, 0, 0);  padding:0 9px; display: inline-block;} 
    .navbar_links li::after{content:"|"; font-size:10px;display:inline-block; width:2px; height:19px; color:#888; font-size:10px; vertical-align:middle;} 
    .navbar_links li:last-child::after{display:none;}

    .navbar_toggleBtn {display: none; position: absolute; right: 32px; font-size: 24px;}

    .navbar_menu>ul{display:inline-block;  margin:0; padding:0; width:1200px;}
    .navbar_menu>ul>li>a{text-align: left;}
    .navbar_menu>ul>li{text-align:left;}
    .navbar_menu li{width:100px;font-size:20px; float:left; padding:37px 30px 37px; margin:0 60px 0; display:block;}
    .navbar_menu li:nth-child(3) .sub ul li{margin-left: -3px;} 
    .navbar_menu a{font-weight:bold; color:rgb(0, 0, 0); width:70px; padding:15px;}
    .navbar_menu a::after{content:'';  background:#000; height:2px; width:0; transition:all .2s ease-in-out;}

    header:hover{ background:#fff; height:260px;  transition: 0.3s ease-in-out;  color:#000; border-bottom: 1px solid #666;} 
    header:hover main{position:absolute; bottom:260px;}
    header:hover .navbar{padding:0; margin:0;}
    header:hover .navbar__menu{padding:0; margin:0;} 
    header:hover .navbar__menu>li>a{text-align: center;} 
    header:hover a{color:#000;} 
    header:hover #lnb>ul>li::after{color:#000;}
    header:hover .sub{display:block; transition:inherit; }    

    header a:hover{color:#666; }
    header a:hover::after{width:inherit; }
    header .sub{display:none; width:inherit;}

    .navbar .sub li{float:none; margin:0; padding:0; padding-top: 20px; height:20px; width:inherit;  }
    .navbar .sub ul{padding:0; margin-left:20px; display: inline-block; width:inherit;}
    .navbar .sub a{font-size:15px; padding:0; white-space:nowrap; }
    .navbar .sub a::after{display:none;}
    .navbar .sub a:hover{text-decoration:underline;} 



    
    main #signupstep {width: 60vw; height: 13vh; margin: 15vh auto 0 auto;
                        border: 1px solid rgb(192, 187, 187);}

    main #step1, #step2, #step3{width: 20vw; height: 13vh; float: left;}
    main #step1  {background: rgb(203, 203, 203);}
    
    main #text{margin: 3vh auto;}

    main #text p{font-weight: bold; font-size: 2.5vh; text-align: center;}


    main h2{text-align: center; margin: 10vh auto 0 auto; font-size: 2.5vh; font-weight: bold;}

    main #terms{width: 45vw; margin: 8vh auto 10vh auto; /*background: yellowgreen;*/}
    main table {margin: 0 auto;}
    main table tr{height: 4vh;}
    main textarea{width: 25vw; height: 15vh;}
    main #textcheck {text-align: right;}
    #terms button { float: right; width: 6vw; height: 3vh; margin-right: 10vw;}

	main textarea{font-size:15px;}

    footer{ width: 100vw; height: 300px; margin: 0 auto; 
        background: rgb(93, 80, 82);}

    footer #container{ margin: auto; padding-left: 10vw; padding-top: 6vh;} 

    footer #footer1, #footer2{display: inline-block;
                                color:white; line-height: 2em;}
    footer h2{font-size: 25px; font-weight: bold;}
    footer #footer1 {padding-right: 10vw;}
