<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0/EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.timestay.mapper.MyPageMapper">


	<insert id="ShoppingCart" parameterType="ShoppingCartVO">
	<!-- 무조건 쿼리만 들어간다는 뜻 -->
	<![CDATA[                               
	INSERT INTO tb_shoppingcart VALUES(
			 	tb_Sidx_seq.nextval,
				#{Midx},
				#{Pidx},
				#{Svol}
				)
	]]>
	<selectKey order= "AFTER" resultType="integer" keyProperty="Sidx"><!-- 원하는 select 절을 한번 더 날릴 수 있다. After써서 위의 쿼리 실행후 한번더 실행되도록-->
		SELECT MAX(Sidx) from tb_shoppingcart
	</selectKey>
	</insert>	
	
 	<select id="ShoppingList" parameterType="int" resultType="shoppingCartVO">
 	select b.Pimage, b.pcontent, b.pprice,a.svol,(b.pprice*a.svol) as totalSum  
 	from tb_shoppingcart  a,  tb_Product  b,  tb_Member  c 
	where a.Midx=#{Midx} and  a.Midx=c.Midx and b.Pidx =a.Pidx
 	
 	</select>
</mapper>











