<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" 
		"http://mybatis.org/dtd/mybatis-3-config.dtd" >
		
<configuration>
	<settings>
		<setting name="cacheEnabled" value="false"/>
		<setting name="jdbcTypeForNull" value="NULL"/>	<!-- null값 들어갈 수있도록 -->
	</settings>
	<typeAliases>
		<typeAlias type="com.timestay.vo.BoardNoticeVO" alias="boardnoticeVO"/>
		<typeAlias type="com.timestay.vo.BoardFaqVO" alias="boardfaqVO"/>
		<typeAlias type="com.timestay.vo.MemberVO" alias="MemberVO"/>
		<typeAlias type="com.timestay.vo.ProductVO" alias="ProductVO"/> 
		<typeAlias type="com.timestay.vo.ProductReviewVO" alias="ProductReviewVO"/>
		<typeAlias type="com.timestay.vo.ShoppingCartVO" alias="ShoppingCartVO"/>
	
		<!--  <typeAlias type="edu.board.vo.BoardVO" alias="boardVO"/>
		<typeAlias type="edu.board.vo.MemberVO" alias="memberVO"/>
		<typeAlias type="edu.board.vo.SearchVO" alias="searchVO"/> -->
	</typeAliases>
</configuration>